<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Brand</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <input id="keywords" name="keywords"  [(ngModel)]="keywords" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light my-2 my-sm-0" type="submit" (click) = "onSubmit()">Search</button>
    </div>
  </div>
</nav>
<div *ngIf="keywords === ''" class="alert alert-warning text-center text-dark" role="alert" id="keywordsError">
    <b>Please enter a keyword</b>
</div>
<div *ngIf="productForm.errors?.negative || productForm.errors?.greater || productForm.get('minPrice').invalid || productForm.get('maxPrice').invalid" class="alert alert-warning text-center text-dark" role="alert" id="priceRangeError">
    <b>Please use appropriate values for minPrice/maxPrice</b>
</div>
<div class="alert alert-warning text-center text-dark" role="alert" *ngIf="products != '' && undefined !== products && undefined !== (((products['paginationOutput'])[0])['totalEntries']) && (((products['paginationOutput'])[0])['totalEntries'])[0] == '0'">
    <b>No exact matches found</b>
</div>
<br>
<br>
<hr>
<!--Search Results Displays below-->
<div class="container-fluid mx-auto results p-4">
  <div *ngIf="undefined !== products && products != '' && undefined !== (((products['paginationOutput'])[0])['totalEntries']) && (((products['paginationOutput'])[0])['totalEntries'])[0] != '0'">
    <div class="row justify-content-between">
      <div class="h5">Results for {{productForm.get('keywords').value}}</div>
      <div class="d-none d-lg-block d-md-block d-sm-block"><pagination-controls (pageChange)="page = $event" maxSize="10" directionLinks="true" autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls></div>
      <div class="d-lg-none d-md-none d-sm-none"><pagination-controls (pageChange)="page = $event" maxSize="5" directionLinks="true" autoHide="true" responsive="false" previousLabel="Previous" nextLabel="Next"></pagination-controls></div>
    </div>
    <div *ngFor="let item of (((products['searchResult'])[0]))['item'] | paginate: {itemsPerPage: 5, currentPage: page}; let i = index">
      <div *ngIf="item" class="row cards">  
        <div *ngIf="'https://thumbs1.ebaystatic.com/pict/04040_0.jpg' == (item['galleryURL'])[0] || '' == (item['galleryURL'])[0]" class="col-12 col-sm-12 col-md-3 col-lg-3">
          <img class="img-thumbnail mx-auto d-block" src="./assets/ebayDefault.png" style="background-color: inherit; border: 0;">
        </div>
        <div *ngIf="'https://thumbs1.ebaystatic.com/pict/04040_0.jpg' != (item['galleryURL'])[0] && '' != (item['galleryURL'])[0]" class="col-12 col-sm-12 col-md-3 col-lg-3">
          <img class="img-thumbnail mx-auto d-block" src="{{ (item['galleryURL'])[0] }}" style="background-color: inherit; border: 0;">
        </div>

        <div class="col-12 col-sm-12 col-md-9 col-lg-9">
          <p><a href="{{ (item['viewItemURL'])[0] }}" target="_blank">{{(item['title'])[0]}}</a></p>
          <p><b>Price:</b> ${{ ((((item['sellingStatus'])[0])['convertedCurrentPrice'])[0])['__value__'] }}</p>
          <p>{{ (item['location'])[0] }} &nbsp; <button class="btn btn-light" data-toggle="collapse" [attr.data-target]="'#product'+i" aria-expanded="false" [attr.aria-controls]="'product'+i" type="button" (click) = "toggleDetails($event.target)">Show Details</button></p>
          <div [id]="'product'+i" class="collapse">
            <mat-tab-group dynamicHeight="">
              <mat-tab label="Basic Info">
                <div class="row" *ngIf="undefined !== (((item['primaryCategory'])[0])['categoryName'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>Category Name</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ (((item['primaryCategory'])[0])['categoryName'])[0] }}</p></div>
                </div>
                 <div class="row" *ngIf="undefined !== (((item['condition'])[0])['conditionDisplayName'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>Condition</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ (((item['condition'])[0])['conditionDisplayName'])[0] }}</p></div>
                </div>
              </mat-tab>
              <mat-tab label="Shipping Info">
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>ShippingType</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ (((item['shippingInfo'])[0])['shippingType'])[0] }}</p></div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>Shipping cost</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ ((((item['shippingInfo'])[0])['shippingServiceCost'])[0])['__value__'] }}</p></div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>Shiptolocations</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ (((item['shippingInfo'])[0])['shipToLocations'])[0] }}</p></div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>ExpeditedShipping</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8">
                    <span *ngIf="'true' == (((item['shippingInfo'])[0])['expeditedShipping'])[0]; else NoExpedited" class="material-icons text-success">done</span>
                    <ng-template #NoExpedited>
                      <span class="material-icons text-danger">clear</span>
                    </ng-template>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>OneDayShippingAvailable</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8">
                    <span *ngIf="'true' == (((item['shippingInfo'])[0])['oneDayShippingAvailable'])[0]; else NoOneDay" class="material-icons text-success">done</span>
                    <ng-template #NoOneDay>  
                      <span class="material-icons text-danger">clear</span>
                    </ng-template>  
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Listing Info">
                <div class="row" *ngIf="undefined !== (((item['listingInfo'])[0])['bestOfferEnabled'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>BestOfferEnabled</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8">
                    <span *ngIf="'true' == (((item['listingInfo'])[0])['bestOfferEnabled'])[0]; else NoBestOffer" class="material-icons text-success">done</span>
                    <ng-template #NoBestOffer>  
                      <span class="material-icons text-danger">clear</span>
                    </ng-template>
                  </div>
                </div>
                <div class="row" *ngIf="undefined !== (((item['listingInfo'])[0])['buyItNowAvailable'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>BuyItNowAvailable</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8">
                    <span *ngIf="'true' == (((item['listingInfo'])[0])['buyItNowAvailable'])[0]; else NoBuyItNow" class="material-icons text-success">done</span>
                    <ng-template #NoBuyItNow>
                      <span class="material-icons text-danger">clear</span>
                    </ng-template>
                  </div>
                </div>
                <div class="row" *ngIf="undefined !== (((item['listingInfo'])[0])['listingType'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>ListingType</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ (((item['listingInfo'])[0])['listingType'])[0] }}</p></div>
                </div>
                <div class="row" *ngIf="undefined !== (((item['listingInfo'])[0])['gift'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold">Gift</div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8">
                    <span *ngIf="'true' == (((item['listingInfo'])[0])['gift'])[0]; else NoGift" class="material-icons text-success">done</span>
                    <ng-template #NoGift>  
                      <span class="material-icons text-danger">clear</span>
                    </ng-template>
                  </div>
                </div>
                <div class="row" *ngIf="undefined !== (((item['listingInfo'])[0])['watchCount']) && '' != (((item['listingInfo'])[0])['watchCount'])[0]">
                  <div class="col-6 col-sm-6 col-md-6 col-lg-4 font-weight-bold"><p>WatchCount</p></div>
                  <div class="col-6 col-sm-6 col-md-6 col-lg-8"><p>{{ (((item['listingInfo'])[0])['watchCount'])[0] }}</p></div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>